@CHARSET "UTF-8";

#login{
	padding:20px;
}

#login table{
	margin-left:50px;
}

#login table tr{
	height:30px;
	line-height:30px;
	padding:4px 0px;
}

#btn{
	margin-right:20px;
}

.w152{
	width:152px;
}