@CHARSET "UTF-8";
#pcontainer{
	width:1000px;
	height:auto;
	text-align:left;
	margin:20px auto;
	padding:10px;
	font-family: verdana,arial,sans-serif;
}
.bold{
	font-weight:bold;
	
}
.font14{
	font-size:14px;
}
.w100{
	width:100px;
}
.w50{
	width:50px;
}
.w200{
	width:200px;
}
#btnBox{
	height:40px;
	line-height:40px;
	text-align:center;
}

#printBox{
	
}
.t1,.t3{
	color:#333333;
	width:100%;
}		

.t1 tr,.t3 tr{
	height:25px;
	line-height:25px;

}

table.t2 {
	margin-top:10px;
	width:100%;
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.t2 th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.t2 td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
	
.t4{
	border-top:1px solid #999;
	color:#999;
	font-size:14px;
	margin-top:10px;
}